
body{
    font-family: Edu NSW ACT Hand cursive;
    text-align: center;
    margin-top: 50px;
    background-color: #f5b7e7;
}
#display{
    font-size: 48px;
    margin-bottom: 20px;
}
button{
    margin: 5px;
    padding: 10px 20px;
    font-size: 22px;
    border-radius: 20px;
    background-color: #ff73de;
    color: rgb(0, 0, 0);
    border: none;
    font-family: PT serif;
   font-weight: 700;

}
#pauseBtn:hover{
background-color: #c7f7f7;
}
#StartBtn:hover{
    background-color: #c7f7f7;
    }
 #resetBtn:hover{
  background-color: #c7f7f7;
       
 }
            

